<div class="header">
  <img class="logo" src="assets/logo.png" />
  <div class="input-group mt-3 col-4">
    <input
      [(ngModel)]="characterQuery"
      class="form-control"
      list="characters"
      type="text"
      placeholder="Choose a character by name"
      (keyup)="searchCharacterSuggest($event.target.value)"
    />
    <datalist id="characters">
      <div *ngFor="let char of filteredCharacterNames">
        <option>{{ char }}</option>
      </div>
    </datalist>
    <div class="input-group-append">
      <button
        type="button"
        class="btn btn-outline-warning"
        (click)="searchCharacterButton(characterQuery)"

      >
        Search
      </button>
    </div>
  </div>
</div>

<div *ngIf="!loaded" class="center">
  <div class="loader-text">Loading...</div>
  <div class="loader">Loading...</div>
</div>

<graph [nodes]="activeNodes" [links]="activeLinks"></graph>

<div class="footer">
  <a target="_blank" href="http://marvel.com">Data provided by Marvel. © 2019 MARVEL</a>
</div>

