<!--<svg:g [attr.transform]="'translate(' + (node.x-node.r).toString() + ',' + (node.y- node.r).toString() + ')'">-->
<svg:g [attr.transform]="posString">
<!--  <svg:circle *ngIf="node.highlight"-->
<!--    [attr.r]="node.r"-->
<!--    [attr.cx]="node.r"-->
<!--    [attr.cy]="node.r"-->
<!--    [attr.fill]="node.color"-->
<!--    [attr.opacity]="0.5">-->
<!--  </svg:circle>-->
  <svg:image class="node"
   [attr.xlink:href]="node.image"
   [attr.height]="2*node.r"
   [attr.width]= "2*node.r">
  </svg:image>
  <svg:text
    class="node-name"
    [attr.font-size]="node.fontSize">
    {{node.id}}
  </svg:text>
</svg:g>
