.node {
  cursor: pointer;
  transition: stroke-width 0.1s ease-out,
  fill 0.1s ease-out,
  stroke 0.1s ease-out;
  stroke: white;
  stroke-width: 0.25;
  position: relative;
}
image{
  display: block;
  margin: 0 auto;
  text-align : center;
}
.aura {
  opacity: 0.1;
}

.node-name {
  font-family: 'Lato';
  text-anchor: middle;
  dominant-baseline:central;
  alignment-baseline: central;
  font-weight: 300;
  fill: white;
}
