<svg:g [attr.transform]="posString">
  <svg:circle *ngIf="node.highlight"
              [attr.r]="1.2*node.r"
              [attr.cx]="node.r"
              [attr.cy]="node.r"
              [attr.fill]="node.color"
              [attr.opacity]="0.5">
  </svg:circle>
  <svg:image class="node clip-circle"
             [attr.xlink:href]="node.character.thumbnailURL"
             [attr.clip-path]="'circle(50%)'"
             [attr.height]="2*node.r"
             [attr.width]= "2*node.r"
  >
  </svg:image>
  <svg:text class="node-name"
    [attr.font-size]="node.fontSize">
    {{node.id}}
  </svg:text>
</svg:g>
